body {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgb(15, 77, 56);
}